@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.quattrocento-sans-regular {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-sans-bold {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quattrocento-sans-regular-italic {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quattrocento-sans-bold-italic {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-size: 28px;
}

img {
  width: 100%;
  border-radius: 20px;
}

figure {
  all: unset;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #5a5555;
  max-width: 1100px;
  padding: 40px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  display: flex;
  flex: 1;
}

main {
  display: flex;
  padding-top: 20px;
}
section.ingredients,
section.instructions {
  flex: 1;
}

section.ingredients {
  padding-right: 50px;
}

.ingredients > ul > li {
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid #b1afaf;
}
.ingredients > ul > li:last-child {
  border-bottom: none;
}

figure.ingredients {
  max-width: 110px;
}

.ingredients > figcaption {
  display: none;
}

.instructions > ol > li {
  padding: 10px 0;
}

.instructions > ol > li::marker {
  font-size: 1.2em;
  font-weight: 700;
}

.ingredients > img {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  min-height: 100%;
}

footer {
  background-color: #fff;
  border-top: 1px solid gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  background-color: #f8f4f2;
  border-radius: 20px;
}

address {
  padding: 10px;
  padding-right: 70px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

address > p {
  margin: unset;
  margin-bottom: 5px;
}

address p:last-child {
  margin-top: auto;
}

address p a {
  text-decoration: none;
  color: #4e9a5d;
  cursor: pointer;
}

.likes {
  display: flex;
  align-items: center;
}

.likes-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c3bebe;
  border-radius: 8px;
  padding: 10px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 20;
  font-size: 30px;
  color: #cdf1ea;
}

.likes-wrapper > div {
  margin-left: 5px;
  border-radius: 5px;
  background-color: #cdf1ea;
}

.number-likes {
  color: #1e726a;
  padding: 5px;
  margin: unset;
}

.save {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  padding: 13px;
  background-color: #e76f6f;
  color: #fff;
  cursor: pointer;
}
.save:hover {
  background: #800e29;
}

button.save span {
  color: white;
  padding-right: 5px;
}

.info-box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.info-box div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box div p {
  margin: 0;
  padding: 0.5rem;
}

.info-box div:last-of-type p {
  margin: 1rem 0;
  padding: 0;
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tags .tag {
  border: 1px solid gray;
  border-radius: 2rem;
  color: #4e9a5d;
  padding: 0.3rem 1rem;
}

.tags .tag:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.amount .decrease,
.increase {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  border: 1px solid green;
  padding: 1rem;
  height: 0.1rem;
  width: 0.1rem;
  background-color: green;
  border-radius: 50%;
}
